.main-parent{
    background-image: url('./../../../public/images/loginBackground.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginOuterbox{
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    width: 25vw;
    color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 45px rgba(134, 134, 134, 0.5);
}

.validationColor{
    color: #ff3333;
}